﻿<section data-ng-controller="DashboardController" class="text-page">
    
    <div class="row">
        <div class="col-sm-12">
            <button data-ng-click="eventAll()">Event to all</button>
            <button data-ng-click="eventById('statusFeed')">Event by id</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div data-aea-headline="Headline 1"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <hr />
            <div data-aea-headline="Headline 2"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="col-sm-6">
            <div data-aea-status-feed></div>
        </div>
    </div>    

</section>